<header>
    <div class="navi">
        <div class="nav-btns">
            <a href="/login/"><button class="nav-btn">Login</button></a>
            <br>
            <a href="/register/"><button class="nav-btn">Register</button></a>
        </div>
        <h1 class="site-name">CommunityCares</h1>
    </div>
</header>