<% include ../partials/header.ejs %>
<title>New Volunteer</title>
<% include ../partials/navigation.ejs %>

<h1>Sign Up for
    <%= project.project_name %>
</h1>

<form action="/volunteers" method="POST">

    <label>Volunteer Name</label>
    <input type="text" name="fullname" placeholder="Enter Full Name" />
    <br>
    <label>E-mail</label>
    <input type="text" name="email" placeholder="Enter e-mail" />
    <br>
    <button type="submit">Create</button>
</form>

<% include ../partials/footer.ejs %>
